
.custom-img {
    width: 40%;
    height: 60%;
}

.text-middle {
    margin-top: 3%;
    font-size: large;
    font-weight: bold;
}

.create-btn {
    font-weight: bold;
    margin-top: 2%;
}

.slider-bg {
    background: rgba(151, 151, 151, 0.34);
}
