.received {
    border: #3cc380 solid 1px;
    background: rgba(60, 195, 128, 0.32);
}

.ordered {
    border: #939393 solid 1px;
    background: rgba(211, 211, 211, 0.32);
}

.create-btn {
    font-weight: bold;
    margin-top: 2%;
}

@media only screen and (max-width: 430px) {
    .bt-continue {
        margin-bottom: 10%;
    }
    .show-img {
        margin-top: 10px;
        max-width: 100%;
    }
}
