.text-login {
    font-size: xx-large;
    margin-bottom: 5%;
    font-family: Arial, sans-serif;
}

.login-img {
    margin-top: 5%;
}

@media only screen and (max-width: 600px) {
    .text-login {
        font-size: medium;
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .login-img {
        width: 40%;
        margin-top: 10%;
    }
}
