
.menu-background {
    background-color: antiquewhite;
}

.img-logo {
  width: 35px;
  height: 22px;
}
.brand-img {
    margin-left: 25%;
}

.list-change {
    margin-right: 5%;
}

.toggle-display {
   margin-left: 30%;
}
